@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url("img/patt.png");
}
.container{
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.row{
    margin: 0 -15px;
    display: flex;
}
[class*="col"]{
    padding: 0 15px;
}
.col-3{
    flex: 0 0 25%;
    max-width: 25%;
}
.col-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.col-9{
    flex: 0 0 75%;
    max-width: 75%;
}
.col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
/* header start */

header{
    height: 100px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
}
.logo{
    margin-top: 7px;
}
.menu{
    display: flex;
}
.menu li{
    border-left: 1px solid #2c71b8;
    width: 25%;
    position: relative;
}
.menu li:last-child{
    border-right: 1px solid #2c71b8; 
}
.menu a{
    display: block;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    color: #2c71b8;
    height: 50px;
    transition: all .3s ease;
}
.selected::after{
    content: url("img/arrow_down.png");
    transition: all .3s ease;
}
.menu li:hover .selected::after{
    content: url("img/arrow_up.png");
    transition: all .3s ease;
    filter:brightness(100);
}
.menu li:hover .selected{
    color: #fff;
    background-color: #2c71b8;
}
.menu a:hover{
    color: white;
    background-color:#2c71b8;
    transition: all .3s ease;
}
.submenu a:hover .menu li{
    background-color: #2c71b8;
}
.menu li:hover .submenu{
    display: block;
}
.submenu{
    display: none;
    width: 286px;
    position: absolute;
    left: -1px;
}
.submenu li{
    width: 100%;
    background-color: #2c71b8;
    display: block;
}
.submenu a{
    display: block;
    color: #fff;
    text-align: left;
    padding-left: 30px;
}

.submenu a:hover{
    background-color: #fff;
    color: #2c71b8;
}
.search{
    height: 40px;
    margin-top: 5px;
    padding: 0 5px;
    border: 1px solid #2c71b8;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
::placeholder{
    color: #2c71b8;
    
}
.search input{
    width: 100%;   /*  Sprosit */
    border: none;
    color: #2c71b8;
    font-size: 21px;
    background-color: transparent;
}
.search button{
    height: 30px;
    width: 30px;
    background-color: #2c71b8;
    border: none;
    background-image: url("img/search.png");
    background-repeat: no-repeat;
    background-position: center; 
}
.search button:hover{
    cursor: pointer;
}
.cart{
    margin: 5px 0;
    height: 40px;
    width: 40px;
    background-color: #fff;
    background-image: url("img/cart.png");
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    transition: all .3s ease;
}
.cart:hover{
    background-color: #2c71b8;
    background-image: url("img/cart-hover.png");
    cursor: pointer;
    transition: all .3s ease;
}
.cart-count{
    height: 20px;
    width: 20px;
    background-color: #2c71b8;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
    top: -10px;
    left: -10px;
}
/* header end */